.homepage-container {
    composes: container from '../styles/GlobalStyles.css';
    font-family: Arial, sans-serif;
    text-align: center;
    background: var(--background-gradient);
    color: var(--text-color);
    min-height: 100vh;
    padding: 20px;
    transition: background 0.3s ease, color 0.3s ease;
}

.homepage-header {
    margin-bottom: 30px;
}

.homepage-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.homepage-header p {
    font-size: 1.2rem;
}

.group-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.group-item {
    background: var(--card-background);
    color: var(--primary-color);
    padding: 10px 15px;
    margin: 10px auto;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s, color 0.3s ease;
}

.group-item:hover {
    transform: scale(1.05);
    background: var(--secondary-color);
}

.add-group-button {
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s, color 0.3s ease;
}

.add-group-button:hover {
    background: var(--secondary-color);
}