.diver-details {
  background: var(--background-gradient);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  text-align: left;
  transition: background 0.3s ease, color 0.3s ease;
}

.diver-details p {
  margin: 10px 0;
}

.back-button {
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s, color 0.3s ease;
}

.back-button:hover {
  background: var(--secondary-color);
}